<!--About new-->
<% include ../partials/header %>
<!--end of jumbotron-->
</header>
<div class="row">

    <h2 style= "text-align:center;">Add new About</h2>
    <hr>
    
    
    <!--submission will add to image page-->
    <!--margin: top/bottom left/right-->
    <div style="width: 30%; margin:25px auto">
        <form action="/abouts" method="post" enctype="multipart/form-data">
            <!--name will be used to grab a data inside the route from the request body-->
            <!--form-group creates a gap between lines-->
            <div class="form-group">
                <label>Title</label>
                <input class="form-control" type = "text" name = "about[title]" placeholder="Heading"> 
            </div>
             <div class="form-group">
                 <label>Description</label>
                <textarea class="form-control" type = "text" rows = "10" name = "about[about]" placeholder="Description"></textarea>
            </div>
            <div class="form-group">
                <label>Upload Image</label>
                <input type = "file" name = "image" accept="image/*" required>
            </div> 
           
            <!--btn-block: takes up the entire line-->
            <!--btn-primary makes button blue-->
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block"> Submit </button>
            </div>
        </form>
        <a href="/contacts">Go back</a>
    </div>
</div>

<% include ../partials/footer %>