<% include ../partials/header %>
<div class="row">
    

        <h1 style= "text-align:center;">Add new location</h1>
    
    
    <!--submission will add to service page-->
    <!--margin: top/bottom left/right-->
    <div style="width: 30%; margin:25px auto">
        <form action="/locations" method="post">
            <!--name will be used to grab a data inside the route from the request body-->
            <!--form-group creates a gap between lines-->
            
            <div class="form-group">
                <label for="location">Location</label>
                <input class="form-control" type="text" name="location" id="location" placeholder="Yosemite National Park, CA"> 
            </div>
            <!--btn-block: takes up the entire line-->
            <!--btn-primary makes button blue-->
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block"> Submit </button>
            </div>
        </form>
        <a href="/locations">Go back</a>
    </div>
</div>


<% include ../partials/footer %>